{% extends 'blog/base.html' %}

{% block content %}
    <div style="border: 30px;">
        <h1>O mnie</h1>
        <p>Luiza Los-Pławszewska urodziła się w 1963 r. w Szczecinie.
W 1983 r. ukończyła Państwowe Liceum Sztuk Plastycznych im. Constantina Brancusi w Szczecinie.
W 1991 r. została absolwentką historii sztuki Uniwersytetu Wrocławskiego. Artystka zajmuje się malarstwem sztalugowym w technice przeważnie olejnej i akrylowej z zastosowaniem techniki własnej. Jej prace znajdują się w zbiorach prywatnych w kraju, w Niemczech, w Szwajcarii i USA.
Obecnie mieszka i tworzy w Opolu.


Die Künstlerin (1963 in Szczecin/Stettin geboren) ist Absolventin des Stettiner Lyzeums für Bildende Künste mit Diplom Bildende Künstlerin,  Fachbereich Austellungskunst.
Absolventin der Kunstgeschichte an der Breslauer Universität. Derzeit wohnt und arbeitet sie in Opole.
Luiza Los-Pławszewska beschäftigt sich mit Staffelmalerei und arbeitet hauptsächlich mit Ölfarben, wobei sie eigene Techniken anwendet. Ihre Arbeiten befinden sich in Privatsammlungen in Polen, Deutschland und der Schweiz.
Die Künstlerin hatte bisher drei Einzelausstellungen - im MHB in Opole, im Kulturzentrum in Biała und im  Café 22 in Pazim Center  Szczecin.


The artist ( born 1963 in Szczecin)  graduated Art History of at  Wroclaw University. She currently lives and works in Opole. Luiza Los-Pławszewska is an easel painter, primarily working with oil in combination with her own technique. Her works are to be found in private collections in Poland, Germany, Switzerland and USA. She has exhibited individually on three occasions, at the MBP in Opole, the Cultural Centre in Biała, and Café 22 in Pazim Center Szczecin.</p>
    </div>
{% endblock %}