{% load staticfiles %}
<html>
    <head>
        <title>Luiza Los Plawszewska Art</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div style="width:100%; display: inline-block; overflow: hidden; display: inline-block;">
            <div style="width: 30%; height: 100%; overflow: hidden; display: inline-block; margin: -3px; border:0; padding:0;">
                <div style="margin:30px; margin-top:35%; margin-left:10%;">
                    <h1><a class="header" href="/" style=" font-size:180%; font-weight: bold;">Luiza </br> Los-</br> Plawszewska</a></h1>
                    <div>
                        <div><a class="menu-item" style=" font-size:180%; font-weight: bold;" href="/about"> about  </a></div>
                        <div><a class="menu-item" style=" font-size:180%; font-weight: bold;" href="/galery"> works  </a></div>
                        <div><a class="menu-item" style=" font-size:180%; font-weight: bold;" href="/events"> event  </a></div>
                        <div><a class="menu-item" style=" font-size:180%; font-weight: bold;" href="/about"> contact  </a></div>
                        <div><a class="menu-item" style=" font-size:180%; font-weight: bold;" href="/about"> links  </a></div>
                    </div>
                </div>
            </div>
            <div style="width:70%; height: 100%; display: inline-block; overflow: hidden;  margin: -3px; border:0; padding:0;">
                <div class="row" style="  width: 100%; margin-left:15%;">
                    <div class="col-md-8" >
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>